// add rule overrides as needed
{
  'extends': 'airbnb',
  'parser': 'babel-eslint',
  'env': {
    'browser' : true,
    'node' : true,
  },
  'rules': {
    'max-len': ['error', { 'code': 140 }],
    'object-shorthand': 'off',
    'react/jsx-boolean-value': ['error', 'always'],
    // so /tasks doesn't complain about gulp deps being dev deps
    'import/no-extraneous-dependencies': ['error', {
      'devDependencies': true,
      'optionalDependencies': false,
    }],
    'no-underscore-dangle': 'off', // stuck with this as long as we use mongo
    'react/no-unescaped-entities': 'off', // this rule is very annoying for large blocks of react content

    // temporary
    'consistent-return': 'off',
    'jsx-a11y/img-has-alt': 'off',
    'jsx-a11y/no-static-element-interactions': 'off',
    'no-console': 'off',
    'no-param-reassign': 'off',
    'no-return-assign': 'off',
    'no-shadow': 'off',
    'react/prefer-stateless-function': 'off',
    'react/prop-types': 'off',
  }
}
