// add rule overrides as needed
{
  'extends': 'airbnb',
  'parser': 'babel-eslint',
  'env': {
    'browser' : true,
    'node' : true,
  },
  'rules': {
    // 'max-len': ['error', { 'code': 140 }],
    'object-shorthand': 'off',
    'react/jsx-boolean-value': ['error', 'always'],
    'import/no-extraneous-dependencies': [2, { devDependencies: true }], // so /tasks doesn't complain about gulp deps being dev deps

    // temporary
    'consistent-return': 'off',
    'func-names': 'off',
    'import/extensions': 'off',
    'import/newline-after-import': 'off',
    'import/no-unresolved': 'off',
    'import/prefer-default-export': 'off',
    'jsx-a11y/img-has-alt': 'off',
    'jsx-a11y/no-static-element-interactions': 'off',
    'max-len': 'off',
    'no-console': 'off',
    'no-multi-assign': 'off',
    'no-param-reassign': 'off',
    'no-return-assign': 'off',
    'no-shadow': 'off',
    'no-undef': 'off',
    'no-underscore-dangle': 'off',
    'no-unused-expressions': 'off',
    'no-unused-vars': 'off',
    'react/no-deprecated': 'off',
    'react/no-find-dom-node': 'off',
    'react/no-is-mounted': 'off',
    'react/no-multi-comp': 'off',
    'react/no-render-return-value': 'off',
    'react/no-string-refs': 'off',
    'react/no-unescaped-entities': 'off',
    'react/prefer-stateless-function': 'off',
    'react/prop-types': 'off',
  }
}
