.env
*.log
*.flags.json
dumps/
tests/
temp/

# npm build files
node_modules/node-inspector/node_modules/ws/build/
node_modules/mongoose/node_modules/mongodb/node_modules/bson/build/
node_modules/mongoose/node_modules/mongodb/node_modules/kerberos/build/
node_modules/connect-mongo/node_modules/mongodb/node_modules/bson/build
node_modules/connect-mongo/node_modules/mongodb/node_modules/kerberos/build/
node_modules/node-mongo-seeds/node_modules/mongodb/node_modules/bson/build/
node_modules/node-mongo-seeds/node_modules/mongodb/node_modules/kerberos/build/
node_modules/browser-sync/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/
node_modules/browser-sync/node_modules/socket.io/node_modules/socket.io-client/node_modules/engine.io-client/node_modules/ws/build/
node_modules/browser-sync/node_modules/chokidar/node_modules/fsevents/build/
node_modules/gulp-sass/node_modules/node-sass/vendor/
node_modules/node-inspector/node_modules/v8-debug/
node_modules/node-inspector/node_modules/v8-profiler/
node_modules/node-inspector/node_modules/ws/node_modules/bufferutil/build/
node_modules/node-inspector/node_modules/ws/node_modules/utf-8-validate/build/

# have to remove gulp-sass from node_modules because of build issue on Heroku
node_modules/gulp-sass/
