*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

html
  height: 100%

body
  position: relative
  margin: 0
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #454136
  background: #ffffff
  background: -webkit-linear-gradient(top, white 26%, #56d1cd 100%)
  background: -o-linear-gradient(top, white 26%, #56d1cd 100%)
  background: -ms-linear-gradient(top, white 26%, #56d1cd 100%)
  background: linear-gradient(to bottom, white 26%, #56d1cd 100%)

.sunshine
  background: #f5ce33
  width: 100%
  height: 50em
  position: absolute
  top: -46em
  border-radius: 100%

.banner
  z-index: 1
  position: relative
  display: block
  margin: 5em auto 0
  width: 85%

.logo
  width: 100%
  height: 100%

.accessible-hide
  position: absolute
  text-indent: 100%
  height: 0
  white-space: nowrap
  overflow: hidden

.wrapper
  margin: 2em auto 4em
  width: 85%

.invitation
  background-color: #ebead5
  border-radius: 5px
  border-bottom: 3px solid #d2d1be
  padding: 1em

.subscription-confirmation
  background-color: #ebead5
  border-radius: 5px
  border-bottom: 3px solid #d2d1be
  padding: 1em
  text-align: center
  font-size: 1.25em
  font-weight: bold

.invitation-form
  overflow: hidden

.invitation-form-input, .invitation-form-button
  font-size: 1.25em
  border-radius: 4px

.invitation-form-input
  width: calc(100% - 29%)
  float: left
  line-height: 1.2
  padding: .6em 1em
  border: 1px solid #d2d1be
  color: #454136

.invitation-form-button
  background: #d2d1be
  border: 0
  color: #454136
  width: 27%
  text-align: center
  padding: .6em .25em
  line-height: 1.25
  float: right
  &:hover
    background-color: #9F9E90

@media screen and (max-width: 400px)
  .banner
    margin-top: 2em
  .wrapper
    margin-top: 1em
  .invitation-form-input, .invitation-form-button
    font-size: 1em

@media screen and (max-width: 750px)
  .invitation-form-input
    text-align: center
    margin-bottom: .5em
    display: block
    width: 100%
  .invitation-form-button
    display: block
    width: 100%
  .sunshine
    display: none

.error-page
  width: 80%
  margin: 1rem auto 0
  h1
    color: red
  pre
    border: 2px solid black
    background-color: white
    padding: 1rem

.flash-messages
  width: 80%
  margin: 1rem auto 0
  border: 1px solid black
  padding: 1rem

.logged-in
  background-color: black
  color: #fff
  padding: .5rem
  text-align: center
  z-index: 1
  opacity: .75
  position: relative
