.sunshine
  background: #f5ce33
  width: 100%
  height: 50em
  position: absolute
  top: -46em
  border-radius: 100%

.banner
  z-index: 1
  position: relative
  display: block
  margin: 5em auto 0
  width: 85%

.logo
  width: 100%
  height: 100%

.mission-statement
  margin: 1em
  font-weight: bold
  font-size: 1.25em

.logged-in, .logged-out
  background-color: black
  color: #fff
  a
    color: #fff
  padding: .5rem
  text-align: center
  z-index: 1
  opacity: .75
  position: relative

.login-nav
  border: 1px solid #ccc
  background: #fff
  padding: 20px
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      display: inline-block
      margin-right: 1em
      background-color: #ccc
      padding: .5em
