.login-nav
  text-align: center
  padding: 20px
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      display: inline-block
      margin-right: 1em
      background-color: $statusBarBackgroundColor
      padding: .5em
  a
    color: $statusBarColor
    font-weight: bold
