.notification
  position: fixed
  z-index: 10
  top: .5rem
  left: .5rem
  right: .5rem
  padding: 1rem
  border-radius: .25rem
  &.notification--info
    background-color: blue
    color: white
  &.notification--error
    background-color: red
    color: black
  &.notification--warning
    background-color: yellow
    color: black

.flash-messages
  position: absolute
  background-color: red
  font-weight: bold
  color: #fff
  top: 4rem
  width: 100%
  padding: 1rem
  border: .2rem solid darken(red, 25%)
  border-left: none
  border-right: none
