.align-left
  text-align: left

.align-right
  text-align: right

.float-left
  float: left

.float-right
  float: right

.accessible-hide
  position: absolute
  text-indent: 100%
  height: 0
  white-space: nowrap
  overflow: hidden

.separator
  display: inline-block
  margin: 0 .25em

.flag
  display: table
  width: 100%

.flag-image, .flag-body
  display: table-cell
  vertical-align: middle
  .flag-top &
    vertical-align: top
  .flag-bottom &
    vertical-align: bottom

.flag-image
  padding-right: 10px
  > img
    display: block
    max-width: none
  .flag-rev &
    padding-right: 0
    padding-left: 10px

.flag-body
  width: 100%
