.accessible-hide
  position: absolute !important
  clip: rect(1px, 1px, 1px, 1px)

.align-left
  text-align: left

.align-right
  text-align: right

.float-left
  float: left

.float-right
  float: right

// make a button look like a link
.button-link
  outline: none
  padding: 0
  border: 0
  box-sizing: none
  background-color: transparent
  text-decoration: underline

.separator
  display: inline-block
  margin: 0 .25em

.flag
  display: table
  width: 100%

.flag-image, .flag-body
  display: table-cell
  vertical-align: middle
  .flag-top &
    vertical-align: top
  .flag-bottom &
    vertical-align: bottom

.flag-image
  padding-right: 10px
  > img
    display: block
    max-width: none
  .flag-rev &
    padding-right: 0
    padding-left: 10px

.flag-body
  width: 100%
