$defaultFont: "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif
$primaryTextColor: #454136
$backgroundDefault: #56d1cd
$backgroundGradientTop: #fff
$backgroundGradientBottom: $backgroundDefault
$sunshineColor: #f5ce33
$defaultBorderColor: #000


$tertiaryColor: #ebead5
$tertiaryColorDark: #d2d1be

$statusBarBackgroundColor: #000
$statusBarColor: #fff



$errorsBorderColor: $defaultBorderColor
$errorsBackgroundColor: #fff
