.voting-wrapper
  margin: 2em auto 4em
  width: 85%

.band-list
  margin: 1rem 0
  list-style: none
  padding: 0

.band-item
  position: relative
  // overflow: hidden
  background-color: $tertiaryColor
  border-radius: 5px
  border-bottom: 3px solid $tertiaryColorDark
  padding: 1em
  margin-bottom: 1em
  margin-left: 2em

.band-name
  display: inline-block

.band-vote-count
  text-align: right
  display: inline-block
  width: 1rem
  position: absolute
  left: -2em
  font-weight: bold

.add-new-band
  margin: 1em 0
  background-color: $tertiaryColorDark
  padding: 1em
  input[type="submit"]
    visibility: hidden
    position: absolute
