.voting-wrapper
  margin: 2rem auto 4rem
  width: 85%

.band-list
  margin: 1rrem 0
  list-style: none
  padding: 0

.band-item
  position: relative
  // overflow: hidden
  background-color: $tertiaryColor
  border-radius: .5rem
  border-bottom: 3px solid $tertiaryColorDark
  padding: 1rem
  margin-bottom: 1rem
  margin-left: 5rem

.band-name
  display: inline-block
  font-size: 1.5rem

.band-vote-count
  text-align: center
  background-color: #fff
  padding: 1rem
  border-radius: 1rem
  text-align: right
  display: inline-block
  font-size: 1.5rem
  // width: 2rem
  top: 0
  position: absolute
  left: -5rem
  font-weight: bold

.add-new-band
  margin: 1rem 0 2rem
  input[type="text"]
    width: 90%
    font-size: 1.5rem
  input[type="submit"]
    visibility: hidden
    position: absolute
