extends layout

block content

  include partials/header

  - if (error.status)
    - status = error.status + ' - '

  .error-page
    h1 #{status} #{message}
    - if (error.stack)
      pre #{error.stack}
