extends layout

block content

  div.sunshine(role="presentation")

  header.banner(role="banner")
    h1.accessible-hide Desert Island Suicide
    img.logo(src="../images/dis-logo.svg")

  div.wrapper(role="main")
    if subscribed
      include subscribed
    else
      include invitation-form
