form.invitation-form(action='http://desertislandsuicide.createsend.com/t/d/s/jdai/', method='post')
  label.accessible-hide(for='fieldEmail') Email
  input.invitation-form-input(name='cm-jdai-jdai', type='email', required='required', placeholder='your email (we won\'t share it!)'))
  button.invitation-form-button(type='submit') Request an Invite
