doctype 5
html
  head
    title= title
    meta(name='google-site-verification', content='RA0q2A4w3iS8W4vJ0Q0WlSaz5X1HKX1XwwxzF7_Nkvk')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    include google-analytics