extends layout

block content

  h1 Sign in

  ul
    li: a(href='/auth/facebook') Sign in with Facebook
    li: a(href='/auth/twitter') Sign in with Twitter
    li: a(href='/auth/google') Sign in with Google

