extends layout

block content

  header(role="banner")
    h1.accessible-hide Desert Island Suicide
    img(src="../images/dis-logo.svg", class="logo")

    br
    br
    br
    h2 Thanks! We'll send you an invite during the call for submissions.